.govuk-form-group
  = form.input :tenure, collection: Dwelling::TENURES, wrapper: :select
.govuk-form-group
  = form.input :habitable_rooms, input_html: { class: "govuk-input govuk-input--width-2" }, label: 'Number of habitable rooms'
.govuk-form-group
  = form.input :bedrooms, input_html: { class: "govuk-input govuk-input--width-2" }, label: 'Number of bedrooms'
- if @development.audit_changes?
  .govuk-form-group
    = form.input :audit_comment, label: 'Changelog', required: true
