.govuk-width-container
  .govuk-phase-banner
    %p.govuk-phase-banner__content
      %strong.govuk-tag.govuk-phase-banner__content__tag
        demo
      %span.govuk-phase-banner__text
        This is a demonstration of
        = link_to 'this software', 'https://www.southwark.gov.uk/innovate/collabrative-project/affordable-housing-monitoring'
        only. Anyone can edit the data, and is probably not real.
