.govuk-width-container
  .govuk-phase-banner
    %p.govuk-phase-banner__content
      %strong.govuk-tag.govuk-phase-banner__content__tag
        alpha
      %span.govuk-phase-banner__text
        This is a new service – your
        %a.govuk-link{href: 'mailto:jack.ricketts@southwark.gov.uk', 'aria-label': 'Send us your feedback on this service — clicking this link will open an email to jack.ricketts@southwark.gov.uk'} feedback
        will help us to improve it.
