.govuk-width-container
  %nav#nav
    .navbar
      %ul.navbar__list-items
        %li.active
          = link_to 'View all developments', developments_path
        %li
          = link_to 'Add a new development', new_development_path
