.govuk-width-container
  %nav#nav
    .navbar
      %ul.navbar__list-items
        %li
          = link_to t('navigation.developments'), developments_path
        %li
          = link_to t('navigation.new_development'), new_development_path
