.govuk-width-container
  %nav#nav
    .navbar
      %ul.navbar__list-items
        %li
          = link_to t('navigation.developments'), developments_path, 'aria-label': 'View all developments'
        %li
          = link_to t('navigation.new_development'), new_development_path, 'aria-label': 'Add a new development'
        %li
          = link_to t('navigation.view_all_schemes'), schemes_path, 'aria-label': 'View all schemes'
