.govuk-form-group
  = f.input :application_number, input_html: { class: "govuk-input govuk-input--width-10" }

.govuk-form-group
  = f.input :site_address

.govuk-form-group
  = f.input :proposal, input_html: { 'rows': 5 }, wrapper: :textarea

- if @development.audit_changes?
  .govuk-form-group
    = f.input :audit_comment, label: 'Changelog'
