- content_for(:page_title) { t("page_title_prefix") + "edit development #{@development.application_number}" }

.govuk-width-container
  .govuk-grid-row
    .govuk-grid-column-full
      %fieldset.govuk-fieldset
        %legend.govuk-fieldset__legend.govuk-fieldset__legend--xl
          %h1.govuk-fieldset__heading Edit details of development

        = form_for @development do |f|
          = render partial: 'form', locals: {f: f}
