.govuk-tag-draft {
  background-color: govuk-colour('dark-grey');
  color: govuk-colour('white');
}

.govuk-tag-agreed {
  background-color: govuk-colour('purple');
  color: govuk-colour('white');
}

.govuk-tag-started {
  background-color: govuk-colour('green');
  color: govuk-colour('white');
}

.govuk-tag-unconfirmed_completed {
  background-color: govuk-colour('pink');
  color: govuk-colour('white');
}

.govuk-tag-partially_confirmed_completed {
  background-color: govuk-colour("light-purple");
  color: govuk-colour('white');
}

.govuk-tag-confirmed_completed {
  background-color: govuk-colour("orange");
  color: govuk-colour('white');
}

.govuk-tag-expired {
  background-color: govuk-colour('red');
  color: govuk-colour('white');
}
