%p{class: 'govuk-!-margin-top-0'} New dwelling added:
%ul{class: 'govuk-list govuk-list-no-bullet'}
  - audit.audited_changes.except('development_id').each do |key,change|
    %li #{key.humanize}: #{change}
